<a href="#" class="person card template" id="personCard" vocab="http://xmlns.com/foaf/0.1/" typeof="Person">
    <%= image_tag "unknownPerson.svg" %>
    <div>
    	<h1 property="name"></h1>
    	<p property="title"></p>
    	<p name="dateRange"></p>
    </div>
</a>