                        <li class="work">
                            <p>
                                <span class="itemTitle article"></span>
                                <span class="itemAuthors"></span>
                            </p>
                            <button class="fa fa-external-link-square fa-lg edit" title="view article" data-toggle="modal" data-target="#viewArticleModal"><span class="helpText">view this work</span></button>
                            <button class="fa fa-pencil fa-lg view" title="edit article" data-toggle="modal" data-target="#editArticleModal"><span class="helpText">edit this work</span></button>
                        </li>