                        <li>
                            <span class='affiliation'></span>
                            <button href="#edit" class="fa fa-pencil fa-lg" title="edit"><span class="helpText">edit this affiliation</span></button>
                        </li>