<a href="#" class="org card template" id="orgCard" vocab="http://xmlns.com/foaf/0.1/" typeof="Organization">
    <%= image_tag "unknown_org.svg" %>
    <div>
    	<h1 property="prefLabel"></h1>
    	<p property="altLabels"></p>
    	<p name="dateRange"></p>
    </div>
</a>