                        <li>
                            <p>
                                <span class="itemTitle conference">Online Access for Scholars Adds Value to Media Archives</span>
                                <span>Open Repositories 2015. June 9, 2015</span>
                            </p>
                            <button href="#view" class="fa fa-external-link-square fa-lg" title="edit"><span class="helpText">view this work</span></button>
                            <button href="#edit" class="fa fa-pencil fa-lg" title="edit"><span class="helpText">edit this work</span></button>
                        </li>