<a href="#" class="work card template" id="workCard" vocab="http://xmlns.com/foaf/0.1/" typeof="Work">
    <%= image_tag "unknown_work.svg" %>
    <div>
    	<h1 property="title"></h1>
    	<p property="authors"></p>
    	<p name="date"></p>
    </div>
</a>