                        <li class="membership">
                            <span class='affiliation'></span>
                            <button class="fa fa-pencil fa-lg edit" title="edit" data-toggle="modal" data-target="#editAffiliationModal"><span class="helpText">edit this affiliation</span></button> <button class="fa fa-external-link-square fa-lg view" title="view"><span class="helpText">view this organization</span></button>
                        </li>