<li class="person" vocab="http://xmlns.com/foaf/0.1/" typeof="Person">
    <p property="name"></p>
	<button class="fa fa-external-link-square fa-lg view" title="view person"><span class="helpText">view this person</span></button>
</li>