        <li class="work">
            <p>
                <span class="itemTitle article"></span>
                <span class="itemAuthors"></span>
            </p>
            <button class="fa fa-external-link-square fa-lg view" title="view article"><span class="helpText">view this work</span></button>
        </li>