                        <li class="membership">
                            <span class='affiliation'></span>
                            <% if current_user.admin? || current_user.creator? || current_user.editor? %><button class="fa fa-pencil fa-lg edit" title="edit" data-toggle="modal" data-target="#editAffiliationModal"><span class="helpText">edit this affiliation</span></button> <% end %><button class="fa fa-external-link-square fa-lg view" title="view"><span class="helpText">view this organization</span></button>
                        </li>