<div class="modal fade editLicenseModal formModal" id="editLicenseModal" tabindex="-1" role="dialog" aria-labelledby="editLicenseModal" title="Edit a License">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form data-lna-query="editLicense" class="formTwoColumn" accept-charset="UTF-8" data-opt="<%= params[:id] %>/license/;;;" data-refresh="true"  data-load="editLicense">
          <div><label>Template</label><select name="template" class="dropdownBehavior changeBehavior" data-opt="licenses" data-onchange="prefillLicenses">
            <option></option>
          </select></div>
          <div><label>Type</label><div><input type="radio" name="dc:description" value="ali:free_to_read" required>Free to Read</input><input type="radio" name="dc:description" value="ali:license_ref" required>Licensed</input></div></div>
          <div><label>Title</label><input name="dc:title" required></input></div>
          <div><label>Start Date</label><input name="ali:start_date" class="dateBehavior" required></input></div>
          <div><label>End Date</label><input name="ali:end_date" class="dateBehavior"></input></div>
          <div><label>License</label><input name="ali:uri"></input></div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button type="submit" title="submit">Update</button>
          <div class="centered">OR</div>
        </form>
        <form data-lna-query="deleteLicense" accept-charset="UTF-8" class="formTwoColumn" data-confirm="true" data-opt="<%= params[:id] %>/license/;;;" data-refresh="true" data-load="deleteLicense">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token, {:id => nil} %>
        <button type="submit" title="Delete" class="warning" name="delete">Delete License</button>
        </form>
      </div>
    </div>
  </div>
</div>
