<div class="modal fade newPersonModal formModal" id="newPersonModal" tabindex="-1" role="dialog" aria-labelledby="newPersonModal" title="Add a Person to LNA">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form data-lna-query="newPerson" class="formSingleColumn">
          <label>Given Name</label><input id="foaf:givenName" name="foaf:givenName"></input>
          <label>Family Name</label><input id="foaf:familyName" name="foaf:familyName"></input>
          <label>Written Name</label><input id="foaf:name" name="foaf:name"></input>
          <label>Title</label><input id="foaf:title" name="foaf:title"></input>
          <label>Email</label><input id="foaf:mbox" name="foaf:mbox"></input>
          <label>Photo URL</label><input id="foaf:image" name="foaf:image"></input>
          <label>Homepage URL</label><input id="foaf:homepage" name="foaf:homepage"></input>
          <button type="submit" id="submit" title="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
