<% if current_user.admin? || current_user.creator? %>
<div class="modal fade newPersonModal formModal" id="newPersonModal" tabindex="-1" role="dialog" aria-labelledby="newPersonModal" title="Add a Person to LNA">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form data-lna-query="newPerson" accept-charset="UTF-8" class="formTwoColumn" data-forward="true" data-tag-delimiter=";;;">
          <div><label>Given Name</label><input name="foaf:givenName" required></input></div>
          <div><label>Family Name</label><input name="foaf:familyName" required></input></div>
          <div><label>Written Name</label><input name="foaf:name" required></input></div>
          <div><label>Title</label><input name="foaf:title"></input></div>
          <div><label>Reports To</label><input name="skos:prefLabel" class="autocompleteBehavior" autocomplete="off" data-autocomplete-type="reportsTo" required></input></div>
          <div><label>Email</label><input name="foaf:mbox" required></input></div>
          <div><label>Photo URL</label><input name="foaf:image"></input></div>
          <div><label>Homepage URL</label><input name="foaf:homepage" class="tagBehavior"></input></div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag "org:reportsTo", nil, {:id => nil} %>
          <button type="submit" title="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<% end %>