<nav class="pager">
	<a class="firstPage" rel="first" title="First Page"><i class="fa fa-fast-backward"></i></a>
	<a class="previousPage" rel="previous"><i class="fa fa-step-backward"></i></a>
	<span class="currentPage"><span>1</span></span>
	<a class="nextPage" rel="next"><i class="fa fa-step-forward"></i></a>
	<a class="lastPage" rel="last" title="Last Page"><i class="fa fa-fast-forward"></i></a>
</nav>