<nav id="pager">
	<a id="firstPage" rel="first" title="First Page"><i class="fa fa-fast-backward"></i></a>
	<a id="previousPage" rel="previous"><i class="fa fa-step-backward"></i></a>
	<a id="currentPage"><span>1</span></a>
	<a id="nextPage" rel="next"><i class="fa fa-step-forward"></i></a>
	<a id="lastPage" rel="last" title="Last Page"><i class="fa fa-fast-forward"></i></a>
</nav>