<nav id="controlPanel">
	<div>LNA Controls <button class="fa fa-close fa-lg controlPanelToggle" data-toggle="controlPanel"></button></div>
	<% if !current_user %>
	<form action="<%= url_for(controller: "users/sessions", action: "new", only_path: false) %>"><button id="loginButton" data-toggle="loginForm">Log In</button></form>
	<% else %>
	<form action="<%= url_for(controller: "users/sessions", action: "destroy", only_path: false) %>"><button id="loginButton" data-toggle="loginForm">Log <%= current_user.name %> Out</button></form>
	<% end %>
	<button id="">Button 2</button>
	<button id="">Button 3</button>
	<button id="">Button 4</button>
</nav>