<nav id="controlPanel">
	<div>LNA Controls <button class="fa fa-close fa-lg controlPanelToggle"></button></div>
	<button id="loginButton">Log In</button>
	<button id="">Button 2</button>
	<button id="">Button 3</button>
	<button id="">Button 4</button>
</nav>